@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.main_site{
    height: 1134px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.header{
    height: 170px;
    width: 100%;
}
.header_top{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #D0D0D0;
}
.menu_top{
    height: 70px;
    border-bottom: 1px solid #D0D0D0;
    
}
.line_top{
    width: 2px;
    height: 40px;
    background: #E2E2E2;
}
.language p{
    margin-bottom: 2px;
    margin-left: 6px;
}
.language b{
    padding: 2px 6px;
    background: #4AD295;
    border-radius: 2px;
    color: white;
}
.social i{
    color: #000000ab;
    font-size: 18px;
}
.phone p{
    margin-top: 6px;
    font-size: 18px;
}
.phone{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.phone i{
    color: #9A9A9A;
    margin-left: 15px;
    font-size: 35px;
}
.maistra_online h4{
    text-transform: uppercase;
    font-size: 16px;
    /* height: 55px;
    width: 240px;
    background: #EFF3F6; */
    margin-left: 30px;

}
.tours h4{
    text-transform: uppercase;
    font-size: 16px;
    /* height: 55px;
    width: 240px;
    background: #EFF3F6; */
    margin-left: 30px;

}
.maistra_online{
    height: 55px;
    width: 245px;
    background: #EFF3F6;
    display: flex;
    align-items: center ;
    /* justify-content: center; */
    position: relative;
    border-radius: 2px; 
}
.checkpoint{
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DD4053;
    /* margin-left: 10px; */
    position: absolute;
    top: 0;
    right: 0;
}
.checkpoint i{
    color: white;
}
.tours{
    width: 245px;
    height: 55px;
    background: #EFF3F6;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
}
.checkpoint1 i{
    color: white;
}
.checkpoint1{
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4AD295;
    /* margin-left: 10px; */
    position: absolute;
    top: 0;
    right: 0;   
}
.social i{
    margin-right: 10px;
}
.drp_menu{
    display: flex;
    list-style: none;
    width: 100%;
    padding-left: 174px;
    padding-right: 173px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}
.drp_menu a{
    color: #6161619f;
    transition: all .5s linear;
    line-height: 60px;
    /* border: 2px solid black; */
    
}
.drp_menu li{
    position: relative;
    line-height: 60px;

}
.drp_menu .listr a{
    text-decoration: none;
    color: #616161ad;
    transition: all .5 ease;
}
.drp_menu .listr:hover .trlg{
    color: black;
}
.listr::after{
    content: ' ';
    display: block;
    width: 0;
    height: 3px;
    background-color: #DD4053;
    position: absolute;
    transition: width 0.3s ease-out;
    left: 0;
    top: 50px;

}
.listr_active::after{
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #DD4053;
    position: absolute;
    transition: width 0.3s ease-out;
    left: 0;
    top: 50px;

}
.listr_active a{
    color: black;
    text-decoration: none;
}
.listr:hover:after,
.listr:focus:after{
    width: 100%;
}
.listr_active .trlg:after{
    transform: rotate(0deg);
}
.trlg::after{
    content: '';
    background-color: #C4C4C4;
    display: block;
    position: absolute;
    top: 28px;
    right: -10px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 6px;
    height: 6px;
    transform: rotate(180deg);
    transition: all .5s ease;
}
.listr a{
    line-height: 60px;
    
}
.listr{
    position: relative;
}
.hotels{
    position: absolute;
    width: 200px;
    top: 50px;
    left: -80px;
    display: none;
    background-color: #ffff;
    /* z-index: 8; */
}
.listr1::after{
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background-color: #DD4053;
    position: absolute;
    transition: width 0.3s ease-out;
    left: 0;
    top: 50px; 
}
.listr1:hover:after,
.listr1:focus:after{
    width: 100%;
}
.picture{
    position: absolute;
    top: 15px;
    right: -300px;
    display: none;
    background-color: #ffff;
}
.pict{
    width: 300px;
    height: 300px;
    background: url(./image/Burj_Al_Arab_2448.jpg) center center;
    background-size: cover;
}
.picture1{
    position: absolute;
    top: 0;
    right: -302px;
    display: none;
}
.pict1{
    width: 300px;
    height: 300px;
    background: url(./image/Jumeirah_Beach_2454.jpg) center center;
    background-size: cover;
}
.picture2{
    position: absolute;
    top: 0;
    right: -302px;
    display: none;
}
.picture3{
    position: absolute;
    top: 0;
    right: -302px;
    display: none;
}
.pict2{
    width: 300px;
    height: 300px;
    background: url(./image/Atlantis_The_Palm_2450.jpg) center center;
    background-size: cover;
}
.pict3{
    width: 300px;
    height: 300px;
    background: url(./image/One__Only_Royal_Mirage_2453.jpg) center center;
    background-size: cover;
}
.listr1:hover ul{
    display: block;

}
.listr:hover .hotels{
    display: block;
}
.listr:hover .trlg:after{
    transform: rotate(0deg);
}
.countryside{
    position: absolute;
    width: 200px;
    top: 60px;
    right: -80px;
    background-color: #ffff;
}
.countryside li{
    width: 200px;
}
.symbols{
    position: absolute;
    top: 0;
    right: -200px;
    display: none;

}
.symb{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_the_French_Republic.svg) center center;
    background-size: cover;

}
.symbols1{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb1{
    width: 300px;
    height: 140px;
    background: url(./image/2560px-Flag_of_Spain.svg.png) center center;
    background-size: cover;

}
.symbols2{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb2{
    width: 300px;
    height: 140px;
    background: url(./image/1200px-Flag_of_the_United_Kingdom.svg.png) center center;
    background-size: cover;

}
.symbols3{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb3{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_the_United_States.svg) center center;
    background-size: cover;

}
.symbols4{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb4{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_Greece.svg.png) center center;
    background-size: cover;

}
.symbols5{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb5{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_Abu_Dhabi.svg.png) center center;
    background-size: cover;

}
.symbols6{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb6{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_Scotland.svg.png) center center;
    background-size: cover;

}
.countryside{
    display: none;
    background-color: #ffff;
}
.listr:hover .countryside{
    display: block;
}
.traveling{
    width: 260px;
    position: absolute;
    border: 1px solid #DDDDDD;
    display: none;
    background-color: #ffff;
}
.traveling li{
    border-bottom: 1px solid #DDDDDD;
    transition: all .6s ease;
}
.traveling .active{
    border-top: 3px solid #DD4053;
}
/* .traveling li:hover a{
    color: #DD4053;
} */
.traveling li:hover{
    border-top: 3px solid #DD4053 ;
}
.traveling li:hover a{
    color: #DD4053;
}
.listr:hover .traveling{
    display: block;
}
.agent{
    position: absolute;
    width: 200px;
    top: 60px;
    right: -88px;
    /* border: 1px solid #DDDDDD; */
    display: none;
    /* opacity: 0; */
    transition: all .5s ease;
    background-color: #ffff;
}

.spons,.spons1,.spons2,.spons3{
    position: absolute;
    top: 0;
    left: 200px;
    display: none;
}
.front{
    height: 300px;
    width: 300px;
    background: url(./image/qatar-airways-logo-nh.jpg) center center;
    background-size: cover;
    
}
.front1{
    height: 300px;
    width: 300px;
    background: url(./image/800px-Emirates_logo.svg.png) center center;
    background-size: cover;
    
}
.front2{
    height: 300px;
    width: 300px;
    background: url(./image/logo-singapore-airlines.jpg.crdownload) center center;
    background-size: cover;
    
}
.front3{
    height: 300px;
    width: 300px;
    background: url(./image/112423_d24c80115d1e9526c013e34407df04a3.png) center center;
    background-size: cover;
    
}
.listr:hover .agent{
    display: block;
    /* opacity: 1; */
}
.stuff{
    position: absolute;
    background-color: #ffff;
    display: none;
    width: 80px;
}
.listr:hover .stuff{
    display: block;
}
.non-active1{
    color: #616161; 
    position: relative;
}
.non-active1::after{
    content: '';
    background-color: #C4C4C4;
    display: block;
    position: absolute;
    top: 7px;
    right: -10px;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	width: 6px;
	height: 6px;
    transform: rotate(180deg);
}
.main{
    height: 1022px;
    /* background-color: #000000ab; */
    /* border: 1px solid black; */
    /* margin-bottom: 60px; */
    padding-left: 115px ;
    padding-right: 115px;
    margin-bottom: 90px;
    position: relative;
}
.pred_text{
    color: black;
    /* margin-left: 115px; */
    margin-top: 20px;
    margin-bottom: 50px;
}
.pred_text p{
    font-size: 12px;
}
.pred_text p span{
    color: #969696;
    padding-right: 10px;
}
.zaglavie h1{
    font-size: 31px;
line-height: 42px;
/* identical to box height, or 135% */

text-transform: uppercase;

color: #232323;
margin-bottom: 30px;
}
.flexers_info{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}
.flex_info{
    width: 586px;
}
.flex_info p{
    font-size: 16px;
line-height: 30px;
/* or 167% */


color: #4f4f4fc7;

}
.flex_info1 p{
    font-size: 16px;
    line-height: 30px;
    /* or 167% */
    
    
    color: #4f4f4fc7; 
}
.flex_info1{
    width: 446px
}
.montenegro{
    position: absolute;
    top: 300px;
    right: 67px;
}
.italy{
    position: absolute;
    top: 470px;
    left: 0;
}
.other_infoturist{
    height: 707px;
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    /* border: 1px solid black; */
}

.introduction b{
    color: #DD4053;
    font-family: 'Waterfall', cursive;
    font-size: 31px;

}
.lagger{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
}
.dectoriate{
    height: 84px;
    width: 706px;
    font-size: 31px;
}
.specialist{
    /* padding-top: 10px; */
    width: 120px;
    height: 49px;
}
.specialist p{
    font-size: 20px;
    color: #DD4053;
}
.card_country{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
}
.contrs{
    height: 185px;
    width: 238px;
    position: relative;
    background: #F8F8F8;
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
}
.contrs1{
    height: 185px;
    width: 238px;
    position: relative;
    background: #F8F8F8;
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
}
.contrs2{
    height: 185px;
    width: 238px;
    position: relative;
    background: #F8F8F8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 44px;
}
.contrs3{
    height: 185px;
    width: 238px;
    position: relative;
    background: #F8F8F8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 44px;
}
.flagman{
    position: absolute;
    top: -50px;
    left: 20px;
}
.name_of_country{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    text-transform: uppercase;
    height: 55px;
    margin-bottom: 8px;
}
.action_link{
    width: 100%;
    text-align: center;
}
.action_link a{
    text-decoration: none;
    padding: 11px 60px;
    /* background: #969696; */
    color: #969696;
    border-radius: 2px;
    font-size: 14px;
    border: 1px solid #969696;
    transition: all .3s linear;
}
.action_link:hover a{
    background: #969696;
    color: white;
}
.podcast{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* width: 430px; */
    align-items: center;
}
.podstav{
    width: 430px;
}
.podstav p{
    font-size: 18px;
    color: #252525;
}
.podstav p span{
    color: #DD4053;
    border-bottom: 1px solid #DD4053;
}
.podstav1{
    width: 505px;
    height: 81px;
    border: 1px solid #C4C4C4;
    /* text-align: center; */
    padding-top: 14px;
    padding-left: 17px;
}
.what_is_it{
    height: 982px;
    width: 100%;
}
.opotrune{
    
    width: 100%;
    height: 507px;
    background: url(./image/montenegro-hero\ 3.png) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 143px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.dext{
    width: 682px;
    position: relative;
}
.dext h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
}
.behind h1{
    position: absolute;
    top: 24px;
    left: -60px;
    font-size: 200px;
    line-height: 55px;
    color: rgba(255, 255, 255, 0.2);
    font-style: bold;
    font-family: Montserrat;
}
.tonner{
    width: 100%;
    height: 482px;
    background: #F8F8F8;
}
.touch_block{
    width: 1280px;
    height: 525px;
    background: #fff;
    position: absolute;
    top: 200px;
    left: -240px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
    padding-top: 75px;
    padding-left: 72px;
    /* padding-right: 40px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.monument{
    width: 340px;
    height: 220px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
}
.monument1{
    width: 340px;
    height: 220px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
}
.monument2{
    width: 340px;
    height: 220px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
}
.monument3{
    width: 340px;
    height: 220px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
}
.monument4{
    width: 340px;
    height: 220px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
}
.monument5{
    width: 340px;
    height: 180px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* flex-direction: column; */
}
.icro{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.2px dashed #969696;
    background: #fff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icro i{
    font-size: 22px;
    color: #969696;
}
.text_icro{
    width: 300px;
}
.text_icro p{
    font-size: 16px;
    line-height: 26px;
    /* font-weight: bold; */
    color: #2C2C2C;

}
.touch_block_line{
    position: absolute;
    width: 1px;
    height: 317px;
    background: #C4C4C4;
    top: 120px;
    left: 102px;
}
.touch_block_line1{
    position: absolute;
    width: 1px;
    height: 317px;
    background: #C4C4C4;
    top: 120px;
    right: 508px;
}
.icro:hover{
    border: 1.2px dashed #DD4053;
}
.icro:hover i{
    color: #DD4053;
}
.coop a{
    padding: 15px 60px;
    border-radius: 2px;
    background: #DD4053;
    color: white;
}
.how_we{
    height: 558px;
    width: 100%;
    background: url(./image/Mask\ Group\ \(8\).png) no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 119px;
}
.how_we::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 558px;
    width: 100%;
    background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 100%);
}
.how_we h1{
    font-size: 31px;
line-height: 42px;
/* or 135% */


color: #232323;
margin-bottom: 30px;
position: relative;
z-index: 2;

}
.how_we p{
    font-size: 20px;
line-height: 24px;
/* identical to box height, or 122% */

text-transform: uppercase;
position: relative;
z-index: 2;

color: #4F4F4F;
margin-bottom: 36px;
}
.playing_cart{
    width: 1044px;
    height: 250px;
    /* border: 1px solid black; */
    margin-left: 260px;
    background: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    position: relative;
z-index: 2;

}
.carting_text h1{
    color: #323232;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}
.carting{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    margin-bottom: 40px;
}
.carting_button a{
    padding: 13px 42px;
    border: 1px solid #969696;
    text-decoration: none;
    color: #969696;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 2px;
    transition: all .4s linear;
}
.carting_button a:hover{
    background: #969696;
    color: white;
}
.cart{
    width: 348px;
    height: 263px;
    border-bottom: 1px solid #E3E3E3 ;
    border-right: 1px solid #E3E3E3;
    padding-top: 31px;
    padding-left: 31px;
    position: relative;
    transition: all .4s linear;
}
.cart1{
    width: 348px;
    height: 263px;
    border-bottom: 1px solid #E3E3E3 ;
    border-right: 1px solid #E3E3E3;
    padding-top: 31px;
    padding-left: 31px;
    position: relative;
    transition: all .4s linear;
}
.cart2{
    width: 348px;
    height: 263px;
    border-bottom: 1px solid #E3E3E3 ;
    border-right: 1px solid #E3E3E3;
    padding-top: 31px;
    padding-left: 31px;
    position: relative;
    transition: all .4s linear;
}
.cart3{
    width: 348px;
    height: 237px;
    border-bottom: 1px solid #E3E3E3 ;
    border-right: 1px solid #E3E3E3;
    padding-top: 31px;
    padding-left: 31px;
    position: relative;
    transition: all .4s linear;
}
.cart4{
    width: 348px;
    height: 237px;
    border-bottom: 1px solid #E3E3E3 ;
    border-right: 1px solid #E3E3E3;
    padding-top: 31px;
    padding-left: 31px;
    position: relative;
    transition: all .4s linear;
}
.cart5{
    width: 348px;
    height: 237px;
    border-bottom: 1px solid #E3E3E3 ;
    border-right: 1px solid #E3E3E3;
    padding-top: 31px;
    padding-left: 31px;
    position: relative;
    transition: all .4s linear;
}
.fortos{
    width: 249px;
}
.fortos h1{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #323232;
    margin-bottom: 20px;
}
.fortos p{
    font-size: 16px;
    color: #84848486;
    line-height: 20px;
    font-weight: 500;
}
.ovor{
    position: absolute;
    bottom: 16px;
    right: 16px;

}
.ovor p{
    font-size: 16px;
    line-height: 28px;
    color: rgba(150, 150, 150, 0.5);
    transition: all .4s linear;
}
.cart:hover{
    background: #FFFFFF;
    border-top: 5px solid #DD4053;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.cart1:hover{
    background: #FFFFFF;
    border-top: 5px solid #DD4053;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.cart2:hover{
    background: #FFFFFF;
    border-top: 5px solid #DD4053;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.cart3:hover{
    background: #FFFFFF;
    border-top: 5px solid #DD4053;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.cart4:hover{
    background: #FFFFFF;
    border-top: 5px solid #DD4053;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.cart5:hover{
    background: #FFFFFF;
    border-top: 5px solid #DD4053;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.cart:hover .ovor p{
    color: #717171;
}
.cart1:hover .ovor p{
    color: #717171;
}
.cart2:hover .ovor p{
    color: #717171;
}
.cart3:hover .ovor p{
    color: #717171;
}
.cart4:hover .ovor p{
    color: #717171;
}
.cart5:hover .ovor p{
    color: #717171;
}
.stuffing{
    height: 964px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 115px;
    padding-right: 115px;
}
.stuff_menu{
    height: 102px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 34px;
}
.logo_name h1{
    text-transform: uppercase;
}
.type_menu{
    width: 772px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 34px; */
}
.type_menu a{
    text-decoration: none;
}
.type_menu .active{
    color: black;
}
.type_menu .nonactive{
   color: black;
   opacity: .35;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}
.card{
    height: 200px;
    width: 550px;
    margin-bottom: 34px;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    /* align-items: flex-end; */
    border-bottom: 1px solid #D0D0D0;
}
.photo img{
    margin-top: 7px;
}
.information_person{
    height: 108px;
    width: 272px;
}
.information_person h1{
    font-size: 20px;
    line-height: 26px;
    color: #323232;
    margin-bottom: 10px;

}
.information_person p{
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-bottom: 54px;
}
.information_person a{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #323232;
    /* margin-bottom: 69px; */
}
.card1{
    height: 200px;
    width: 550px;
    margin-bottom: 34px;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    /* align-items: flex-end; */
    border-bottom: 1px solid #D0D0D0;
}
.card2{
    height: 200px;
    width: 550px;
    margin-bottom: 34px;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    /* align-items: flex-end; */
    border-bottom: 1px solid #D0D0D0;
}
.card3{
    height: 200px;
    width: 550px;
    margin-bottom: 34px;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    /* align-items: flex-end; */
    border-bottom: 1px solid #D0D0D0;
}
.card4{
    height: 200px;
    width: 550px;
    margin-bottom: 34px;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    /* align-items: flex-end; */
    
}
.card5{
    height: 200px;
    width: 550px;
    margin-bottom: 34px;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    /* align-items: flex-end; */
    
}
.reqvisity{
    height: 845px;
    width: 100%;
    background: #F8F8F8;
    padding-top: 90px;
    padding-left: 115px;
    padding-right: 115px;
    display: flex;
    justify-content: space-between;
}
.reqvisity_left{
    /* height: 92px; */
    width: 715px;
    /* border-bottom: 1px solid #E3E3E3; */

}
.reqvisity_texter{
    height: 92px;
    width: 715px;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 30px;
}
.site{
    margin-left: 20px;
}
.reqvisity_main p{
    margin-bottom: 10px;
    font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


color: #252525;

}
.reqvisity_main{
    padding-bottom: 30px;
    border-bottom: 1px solid #E3E3E3;
}
.reqvisity_main h2{
    color: #DD4053;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 600;
font-size: 18px;
line-height: 26px;
}
.reqvisity_right{
    height: 662px;
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding-top: 22px;
    transition: all .4s linear;
}
.reqvisity_file{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.reqvisity .logoped{
    height: 91px;
    width: 91px;
}
.reqvisity .logoped img{
    height: 91px;
    width: 91px;
}
.logoped_texter{
    height: 44px;
    width: 168px;
    margin-left: 20px;
}
.logoped_texter p{
    font-size: 14px;
line-height: 22px;
/* or 157% */

text-transform: uppercase;

color: #787878;
}
.reqvisity_right:hover{
    border-top: 4px solid #DD4053;
}
.facts{
    padding-top: 90px;
    padding-left: 115px;
    height: 1480px;
    width: 100%;
}
.factor{
    width: 706px;
    margin-bottom: 50px;
}
.factor h1{
    font-size: 31px;
line-height: 42px;
/* or 135% */

text-transform: uppercase;

color: #232323;
}
.nymb_active{
    width: 25px;
    height: 25px;
    background: #DD4053;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.nymb_active p{
    font-weight: bold;
    color: #ffff;
    line-height: 14px;
    font-size: 14px;
}
.flight{
    /* height: 155px; */
    width: 1000px;
    /* display: flex;
    justify-content: space-between; */
    padding-right: 15px;
    /* align-items: center; */
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.top_flight{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.number_text{
    display: flex;
    align-items: center;
    width: 604px;
    height: 25px;
}
.texter h1{
    font-size: 22px;
    /* line-height: 24px; */
    color: #323232;
    letter-spacing: 1px;
}
.info_flight p{
    margin-bottom: 15px;
    font-size: 16px;
line-height: 26px;
/* or 162% */


color: #252525;
}
.footer_end{
    height: 370px;
    width: 100%;
    background: #F8F8F8;
    background-size: cover;
    position: relative;
    padding-top: 130px;
    padding-left: 271px;
}
.menu_ending{
    width: 100%;
    height: 172px;
    position: relative;
    z-index: 2;
    padding-right: 350px;
}
.ending_top{
    height: 127px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1D1D1D33;
    margin-bottom: 22px;
}
.kind_happens p{
    margin-bottom: 4px;
}
.other_kind p{
    margin-bottom: 4px;
}
.type_work b{
    color: #3E3E3E;
    opacity: 0.5;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
    /* margin-bottom: 19px; */
}
.type_work p{
    margin-top: 9px;
}
.contacting_numb .fst{
    margin-bottom: 5px;
}
.contacting_numb .scnd{
    margin-bottom: 25px;
}
.contacting_numb b{
    color: #3E3E3E;
    opacity: 0.5;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
}
.yeeeees{
    display: flex;
    justify-content: space-between;
}
.yeeeees p{
    color: rgba(62, 62, 62, 0.5);
}