*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.main_site{
    height: 1134px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.header{
    height: 170px;
    width: 100%;
}
.header_top{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #D0D0D0;
}
.menu_top{
    height: 70px;
    border-bottom: 1px solid #D0D0D0;
    
}
.line_top{
    width: 2px;
    height: 40px;
    background: #E2E2E2;
}
.language p{
    margin-bottom: 2px;
    margin-left: 6px;
}
.language b{
    padding: 2px 6px;
    background: #4AD295;
    border-radius: 2px;
    color: white;
}
.social i{
    color: #000000ab;
    font-size: 18px;
}
.phone p{
    margin-top: 6px;
    font-size: 18px;
}
.phone{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.phone i{
    color: #9A9A9A;
    margin-left: 15px;
    font-size: 35px;
}
.maistra_online h4{
    text-transform: uppercase;
    font-size: 16px;
    /* height: 55px;
    width: 240px;
    background: #EFF3F6; */
    margin-left: 30px;

}
.maistra_online{
    height: 55px;
    width: 245px;
    background: #EFF3F6;
    display: flex;
    align-items: center ;
    /* justify-content: center; */
    position: relative;
    border-radius: 2px; 
}
.checkpoint{
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DD4053;
    /* margin-left: 10px; */
    position: absolute;
    top: 0;
    right: 0;
}
.checkpoint i{
    color: white;
}
.tours h4{
    text-transform: uppercase;
    font-size: 16px;
    /* height: 55px;
    width: 240px;
    background: #EFF3F6; */
    margin-left: 30px;
}
.tours{
    width: 245px;
    height: 55px;
    background: #EFF3F6;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
}
.checkpoint1 i{
    color: white;
}
.checkpoint1{
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4AD295;
    /* margin-left: 10px; */
    position: absolute;
    top: 0;
    right: 0;   
}
.social i{
    margin-right: 10px;
}
.drp_menu{
    display: flex;
    list-style: none;
    width: 100%;
    padding-left: 174px;
    padding-right: 173px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}
.drp_menu a{
    color: #6161619f;
    transition: all .5s linear;
    line-height: 60px;
    /* border: 2px solid black; */
    
}
.drp_menu li{
    position: relative;
    line-height: 60px;

}
.drp_menu .listr a{
    text-decoration: none;
    color: #616161ad;
    transition: all .5 ease;
}
.drp_menu .listr:hover a{
    color: black;
}
.listr::after{
    content: ' ';
    display: block;
    width: 0;
    height: 3px;
    background-color: #DD4053;
    position: absolute;
    transition: width 0.3s ease-out;
    left: 0;
    top: 50px;

}
.listr_active::after{
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #DD4053;
    position: absolute;
    transition: width 0.3s ease-out;
    left: 0;
    top: 50px;

}
.listr_active a{
    color: black;
    text-decoration: none;
}
.listr:hover:after,
.listr:focus:after{
    width: 100%;
}
.listr_active .trlg:after{
    transform: rotate(0deg);
}
.trlg::after{
    content: '';
    background-color: #C4C4C4;
    display: block;
    position: absolute;
    top: 28px;
    right: -10px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 6px;
    height: 6px;
    transform: rotate(180deg);
    transition: all .5s ease;
}
.listr a{
    line-height: 60px;
    
}
.listr{
    position: relative;
}
.hotels{
    position: absolute;
    width: 200px;
    top: 50px;
    left: -80px;
    display: none;
    background-color: #ffff;
    /* z-index: 8; */
}
.listr1::after{
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background-color: #DD4053;
    position: absolute;
    transition: width 0.3s ease-out;
    left: 0;
    top: 50px; 
}
.listr1:hover:after,
.listr1:focus:after{
    width: 100%;
}
.picture{
    position: absolute;
    top: 15px;
    right: -300px;
    display: none;
    background-color: #ffff;
}
.pict{
    width: 300px;
    height: 300px;
    background: url(./image/Burj_Al_Arab_2448.jpg) center center;
    background-size: cover;
}
.picture1{
    position: absolute;
    top: 0;
    right: -302px;
    display: none;
}
.pict1{
    width: 300px;
    height: 300px;
    background: url(./image/Jumeirah_Beach_2454.jpg) center center;
    background-size: cover;
}
.picture2{
    position: absolute;
    top: 0;
    right: -302px;
    display: none;
}
.picture3{
    position: absolute;
    top: 0;
    right: -302px;
    display: none;
}
.pict2{
    width: 300px;
    height: 300px;
    background: url(./image/Atlantis_The_Palm_2450.jpg) center center;
    background-size: cover;
}
.pict3{
    width: 300px;
    height: 300px;
    background: url(./image/One__Only_Royal_Mirage_2453.jpg) center center;
    background-size: cover;
}
.listr1:hover ul{
    display: block;

}
.listr:hover .hotels{
    display: block;
}
.listr:hover .trlg:after{
    transform: rotate(0deg);
}
.countryside{
    position: absolute;
    width: 200px;
    top: 60px;
    right: -80px;
    background-color: #ffff;
}
.countryside li{
    width: 200px;
}
.symbols{
    position: absolute;
    top: 0;
    right: -200px;
    display: none;

}
.symb{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_the_French_Republic.svg) center center;
    background-size: cover;

}
.symbols1{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb1{
    width: 300px;
    height: 140px;
    background: url(./image/2560px-Flag_of_Spain.svg.png) center center;
    background-size: cover;

}
.symbols2{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb2{
    width: 300px;
    height: 140px;
    background: url(./image/1200px-Flag_of_the_United_Kingdom.svg.png) center center;
    background-size: cover;

}
.symbols3{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb3{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_the_United_States.svg) center center;
    background-size: cover;

}
.symbols4{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb4{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_Greece.svg.png) center center;
    background-size: cover;

}
.symbols5{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb5{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_Abu_Dhabi.svg.png) center center;
    background-size: cover;

}
.symbols6{
    position: absolute;
    top: 0;
    right: -202px;
    display: none;

}
.symb6{
    width: 300px;
    height: 140px;
    background: url(./image/Flag_of_Scotland.svg.png) center center;
    background-size: cover;

}
.countryside{
    display: none;
    background-color: #ffff;
}
.listr:hover .countryside{
    display: block;
}
.traveling{
    width: 260px;
    position: absolute;
    border: 1px solid #DDDDDD;
    /* display: none; */
    background-color: #ffff;
}
.traveling li{
    border-bottom: 1px solid #DDDDDD;
    transition: all .6s ease;
}
.traveling .active{
    border-top: 3px solid #DD4053;
}
.traveling .active a{
    color: #DD4053;
}
.traveling li:hover{
    border-top: 3px solid #DD4053 ;
}
.traveling li:hover a{
    color: #DD4053;
}
.listr.active .traveling{
    display: block;
}
.agent{
    position: absolute;
    width: 200px;
    top: 60px;
    right: -88px;
    /* border: 1px solid #DDDDDD; */
    display: none;
    /* opacity: 0; */
    transition: all .5s ease;
    background-color: #ffff;
}

.spons,.spons1,.spons2,.spons3{
    position: absolute;
    top: 0;
    left: 200px;
    display: none;
}
.front{
    height: 300px;
    width: 300px;
    background: url(./image/qatar-airways-logo-nh.jpg) center center;
    background-size: cover;
    
}
.front1{
    height: 300px;
    width: 300px;
    background: url(./image/800px-Emirates_logo.svg.png) center center;
    background-size: cover;
    
}
.front2{
    height: 300px;
    width: 300px;
    background: url(./image/logo-singapore-airlines.jpg.crdownload) center center;
    background-size: cover;
    
}
.front3{
    height: 300px;
    width: 300px;
    background: url(./image/112423_d24c80115d1e9526c013e34407df04a3.png) center center;
    background-size: cover;
    
}
.listr:hover .agent{
    display: block;
    /* opacity: 1; */
}
.stuff{
    position: absolute;
    background-color: #ffff;
    display: none;
    width: 80px;
}
.listr:hover .stuff{
    display: block;
}
.non-active1{
    color: #616161; 
    position: relative;
}
.non-active1::after{
    content: '';
    background-color: #C4C4C4;
    display: block;
    position: absolute;
    top: 7px;
    right: -10px;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	width: 6px;
	height: 6px;
    transform: rotate(180deg);
}
.main{
    height: 483px;
    /* background-color: #000000ab; */
    /* border: 1px solid black; */
    /* margin-bottom: 60px; */
    padding-left: 115px ;
    padding-right: 115px;
    margin-bottom: 90px;
}
.pred_text{
    color: black;
    /* margin-left: 115px; */
    margin-top: 20px;
    margin-bottom: 80px;
}
.pred_text p{
    font-size: 12px;
}
.pred_text p span{
    color: #969696;
    padding-right: 10px;
}
.content_info{
    display: flex;
    justify-content: space-between;

}
.predzagl{
    width: 224px;
}
.predzagl h1{
    text-transform: uppercase;
    font-size: 31px;
    line-height: 42px;
    color: #232323;
}
.flight{
    height: 55px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 40px;
    margin-bottom: 110px;
}
.nymb{
    width: 25px;
    height: 25px;
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.nymp p{
    font-weight: bold;
    color: #323232;
    line-height: 14px;
    font-size: 14px;
}
.number_text{
    display: flex;
    align-items: center;
    width: 604px;
}
.texter h1{
    font-size: 22px;
    /* line-height: 24px; */
    color: #323232;
    letter-spacing: 1px;
}
.iconic i{
    margin-top: 7px;
    font-size: 22px;
    color: #c6c6c6;
}
.flight1{
    height: 55px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 40px;
    margin-bottom: 110px;
}
.flight2{
    height: 55px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 40px;
    /* margin-bottom: 40px; */
}
.footer_end{
    height: 370px;
    width: 100%;
    background: #F8F8F8;
    background-size: cover;
    position: relative;
    padding-top: 130px;
    padding-left: 271px;
}
.menu_ending{
    width: 100%;
    height: 172px;
    position: relative;
    z-index: 2;
    padding-right: 350px;
}
.ending_top{
    height: 127px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1D1D1D33;
    margin-bottom: 22px;
}
.kind_happens p{
    margin-bottom: 4px;
}
.other_kind p{
    margin-bottom: 4px;
}
.type_work b{
    color: #3E3E3E;
    opacity: 0.5;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
    /* margin-bottom: 19px; */
}
.type_work p{
    margin-top: 9px;
}
.contacting_numb .fst{
    margin-bottom: 5px;
}
.contacting_numb .scnd{
    margin-bottom: 25px;
}
.contacting_numb b{
    color: #3E3E3E;
    opacity: 0.5;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
}
.yeeeees{
    display: flex;
    justify-content: space-between;
}
.yeeeees p{
    color: rgba(62, 62, 62, 0.5);
}